body {
    margin: 0;
    background-color:black;
    font-family: xxx;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: rgba(100,100,100,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.2);
}

.bar{
    position:fixed;
    top: 0%;
    left: 50%;
    width: 350px;
    margin-left:-175px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border: 3px solid rgba(0,100,0,0.2);
    background-color: rgba(0,0,0,0.8);
    transform: translate(0,-30px);
    transition: transform 0.5s linear;
}

.bar:hover{
    transform: translate(0,0);
    position:fixed;
    top: 0%;
    left: 50%;
    width: 350px;
    margin-left:-175px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border: 3px solid rgba(0,100,0,0.2);
    background-color: rgba(0,0,0,0.8);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    margin: 0 auto;
}
  
li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    font-size: 1.5em;
    text-decoration:none;
}

.drop-content{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,1);
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.drop:hover .drop-content{
    transform: translate(-70px,0);
    color:red;
    width: 300px;
    display: block;
}

.drop:hover .drop-content ul{
    text-align: center;
}

.drop:hover .drop-content ul li{
    display: inline-block;
    transform: translateX(25px);
}

.bio p{
    font-size: 1.2em;
    margin: 60px;
}

.sec h1{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin: 40px;
}
.sec p{
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin: 50px;
}



/* /////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
///////////////////////DESKTOP ONLY///////////////////////////////////
/////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////// */


@media only screen and (min-width: 768px) {

.bio{
    min-height: 80vh;
    max-width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    color: white;
    box-shadow: 0px 10px 15px 1px rgba(0,100,0,0.2);
    border-radius: 10%;
}

.bio img{
    display: block;
    max-width: 30%;
    border-radius: 100%;
    margin-top: 5%;
}

.contact{
    min-height: 85vh;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    color: white;
    box-shadow: 0px -10px 15px 1px rgba(0,100,0,0.2);
    border-radius: 10%;
}

.contact_list{
    border: 2px solid rgba(0,100,0,0.5);
    border-radius: 100%;
    width: 180px;
    display: inline-block;
    margin-top: 50%;
}

.contact img{
    display: block;
    max-width: 30%;
    border-radius: 100%;
    margin-top: 5%;
}

img{
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 400px;
}

.sec{
    margin: 45px;
}

.sec_left{
    min-height: 100vh;
    max-width: 90%;
    opacity: 0;
    box-shadow: 0;
    transition: opacity 1s linear, box-shadow 3s linear;
}

.sec_left.active{
    opacity:1;
    max-height: 100vh;
    max-width: 90%;
    text-align: center;
    margin-left: 0%;
    border: 2px solid;
    box-shadow: 10px 2px 30px rgba(0,100,0,0.2);
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

.sec_right{
    min-height: 100vh;
    max-width: 90%;
    opacity: 0;
    box-shadow: 0;
    transition: opacity 2s linear, box-shadow 3s linear;
}

.sec_right.active{
    opacity:1;
    min-height: 100vh;
    max-width: 90%;
    text-align: center;
    border: 2px solid;
    margin-left: auto; 
    margin-right: 0;
    box-shadow: -10px 2px 30px rgba(0,100,0,0.2);
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}


}

/* /////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
///////////////////////MOBILE ONLY///////////////////////////////////
/////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////// */


@media only screen and (max-width: 768px) {
    .bio{
        min-height: 80vh;
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        color: white;
        box-shadow: 0px 10px 15px 1px rgba(0,100,0,0.2);
        border-radius: 10%;
    }
    
    .bio img{
        display: block;
        max-width: 50%;
        border-radius: 100%;
        margin-top: 20%;
    }

    .contact{
        min-height: 95vh;
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        color: white;
        box-shadow: 0px -10px 15px 1px rgba(0,100,0,0.2);
        border-radius: 10%;
    }

    .contact_ul{
        display: grid;
    }

    .contact_list{
        border: 2px solid rgba(0,100,0,0.5);
        border-radius: 100%;
        width: 200px;
        margin-top: 25%;
        margin-left: 50%;
        transform: translateX(-100px);
    }

    .contact img{
        display: block;
        max-width: 30%;
        border-radius: 100%;
        margin-top: 5%;
    }

    img{
        display: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .sec_left{
        min-height: 100vh;
        width: 100%;
        opacity: 0;
        box-shadow: 0;
        transition: opacity 1s linear, box-shadow 3s linear;
    }
    

    .sec_left.active{
        opacity:1;
        max-height: 100vh;
        max-width: 100%;
        text-align: center;
        margin-left: 0%;
        box-shadow: 10px 10px 15px rgba(0,100,0,0.2);
    }

    .sec_right{
        min-height: 100vh;
        max-width: 100%;
        opacity: 0;
        box-shadow: 0;
        transition: opacity 2s linear, box-shadow 3s linear;
    }

    .sec_right.active{
        opacity:1;
        min-height: 100vh;
        max-width: 100%;
        text-align: center;
        margin-left: auto; 
        margin-right: 0;
        box-shadow: -10px 10px 15px rgba(0,100,0,0.2);
    }
}